<div class="aboutus-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="aboutus">
            <h2 class="aboutus-title">About Us</h2>
            <p class="aboutus-text">A Website for buying plants!</p>
            <p class="aboutus-text">Find all your favourite plants here to brighten up your world!</p>
          </div>
      </div>
    </div>
  </div>
</div>